host vmmgw
    hostname IP_ADDRESS
    user root
    IdentityFile ~/.ssh/id_rsa
host node6
	user centos
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.11.16:22 vmmgw
host svr1
	user centos
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.13.11:22 vmmgw
host svr2
	user centos
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.13.12:22 vmmgw
host svr3
	user ubuntu
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.13.13:22 vmmgw
host extl3
	user centos
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.13.14:22 vmmgw
host extl2
	user ubuntu
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.13.15:22 vmmgw
host vmx1
	user admin
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.13.20:22 vmmgw
host spine1
	user admin
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.13.21:22 vmmgw
host spine2
	user admin
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.13.22:22 vmmgw
host leaf1
	user admin
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.13.23:22 vmmgw
host leaf2
	user admin
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.13.24:22 vmmgw
